/* Header */
header {
    background-color: var(--primary);
    color: var(--white);
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

/* Adjust flex in header */
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}






body {
    font-family: Arial;
    background: #e8d8c4;
    color: white;
    padding: 20px;
}

.movie-header {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.movie-header img {
    width: 120px;
    border-radius: 8px;
}

.create-post textarea {
    width: 100%;
    height: 80px;
    margin-top: 10px;
    border-radius: 6px;
    padding: 10px;
}

.create-post button {
    margin-top: 10px;
    padding: 8px 15px;
    background: #ff4747;
    color: white;
    border: none;
    border-radius: 6px;
}

.post-card {
    background: #222;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    opacity: 0.8;
}

.like-btn {
    background: #e73c9a;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    transition: 0.3s ease;
}

.like-btn:hover {
    background: #bd19a4;
}




.delete-btn {
    background: #444;
    border: none;
    padding: 5px 12px;
    border-radius: 5px;
    color: red;
}

.comments {
    margin-top: 15px;
    padding-left: 10px;
}

.comment {
    background: #333;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0;
}

.comment-form input {
    width: 80%;
    padding: 5px;
    border-radius: 5px;
}

.comment-form button {
    padding: 5px 10px;
    background: #ff4747;
    border: none;
    color: white;
    border-radius: 5px;
}